<div class="container-fluid row m-0 mb-5">
  <div class="col-md-12 m-0 p-1">
    <div class="row">
      <div class="col-md-6">{%include logopart.html%}</div>
      <div class="col-md-6">
        <h3 class="gtitle2 p-3">OUR MISSION</h3>
        <ol>
          <li class="py-3">
            <p class="gtext justify-content">
              To custom make Christian and Spirit-Filled but African 3D & 2D
              animations and illustrations for Bible Stories and Bible lessons
              for children in Africa to relate with and enjoy learning the word
              of God and the ways of God. We also promote content of other
              people who do similar work.
            </p>
          </li>
          <li class="pb-3">
            <p class="gtext justify-content">
              To custom make excellent original Education Media Content (videos,
              audios, docs) & Education Technology (software & hardware)
              specifically to help the African children learn better and become
              very literate & highly skilled.
            </p>
          </li>
        </ol>
        <h2 class="gtitle4 text-center text-dark fw-bold">
          FREE READING ALBUM
          <p class="text-center py-3 gtitle4p">
            Original & Fresh ! With Afrobeat.
          </p>
          <p>
            <button class="btn-lg btn-success border-0" onclick="contactus()">
              <i class="bi bi-download"></i>
              DOWNLOAD ALBUM
            </button>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="js/script.js"></script>
          </p>
        </h2>
        <p class="py-3 text-center">
          <button
            class="btn-lg btn-danger border-0"
            onclick="window.location.href='https://youtube.com/@grealmkidsstudio6335?si=IHylkxHHBRy2FpOm'">
            <i class="bi bi-youtube"></i>
            Watch on Youtube
          </button>
        </p>
        <h4 class="text-center">Watch Preview</h4>
        <video width="100%" controls>
          <source src="videos/reading.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <div class="container-fluid m-0 p-0">
      <h2 class="gtitle2 text-center">
        FUNDING GOALS: <span class="text-primary">Jan 2024-DEC 2024 </span>
      </h2>
      <h4 class="bg-dark p-0 m-0 fundingprogress">
        <p class="p-0 m-0 p-1">
          <span class="text-warning mr-3 p">Raised $17.9</span>
          <span class="text-light p"> out of $500,000 </span>
        </p>
      </h4>
      <p id="current-date"></p>
      <script>
        function showDate() {
          var currentDate = new Date();
          var dateString = currentDate.toDateString();
          document.getElementById("current-date").innerText =
            "Current Date: " + dateString;
        }

        showDate(); // Call the function to display the date immediately
      </script>
    </div>
  </div>
</div>
