<div class="row gx-4">
  <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
    <div class="product-item">
      <div class="position-relative">
        <img class="img-fluid" src="img/strawberry.png" alt="" />
      </div>
      <div class="text-center p-4">
        <a class="d-block h5" href="">Straw Berry Flavoured</a>
        <span class="text-primary me-1">UgX 3,000</span>
        <span class="text-decoration-line-through">UgX 5,000</span>
      </div>
      {%include buy.html%}
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
    <div class="product-item">
      <div class="position-relative">
        <img class="img-fluid" src="img/vanilla.png" alt="" />
      </div>
      <div class="text-center p-4">
        <a class="d-block h5" href="">Vanilla Flavoured</a>
        <span class="text-primary me-1">UgX 3,000</span>
        <span class="text-decoration-line-through">UgX 5,000</span>
      </div>
      {%include buy.html%}
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
    <div class="product-item">
      <div class="position-relative">
        <img class="img-fluid" src="img/sb.png" alt="" />
      </div>
      <div class="text-center p-4">
        <a class="d-block h5" href="">Straw Berry Flavoured</a>
        <span class="text-primary me-1">UgX 1,000</span>
        <span class="text-decoration-line-through">UgX 1,500</span>
      </div>
      {%include buy.html%}
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
    <div class="product-item">
      <div class="position-relative">
        <img class="img-fluid" src="img/vani.png" alt="" />
      </div>
      <div class="text-center p-4">
        <a class="d-block h5" href="">Vanilla Flavoured</a>
        <span class="text-primary me-1">UgX 1,000</span>
        <span class="text-decoration-line-through">UgX 1,500</span>
      </div>
      {%include buy.html%}
    </div>
  </div>
</div>
